node_modules
npm-debug.log
yarn-error.log
__tests__
.github
.vscode
companion/.gradle
companion/.kotlin
companion/build
companion/*.dex
dist
docker
docs
examples
init.d
node_modules
resources
.env
README.md