@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    dark --default,
    dark --prefersdark;
  logs: false;
}
@layer theme, base, components, utilities;

@theme {
  --font-orbitron: "Orbitron", sans-serif;
}

@layer base {
  select {
    @apply !outline-none;
  }
  canvas {
    @apply w-full h-auto;
  }

  #app {
    @apply min-h-screen flex flex-col;
  }
}

@layer utilities {
  .tstroke {
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 5px;
  }
  .hide-before::before {
    content: none !important; /* or display: none */
  }
}
